body {
  background-size: cover;
  background: black, 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.heading {
  padding: 15px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  font: 16px, white;
  align-self: flex-end;
  background-color: grey;
  border: 10px, solid, black;
  overflow-y: scroll;
  height: 80vh;
  width: 20vw;
}

.currentBookings {
  height: 90vh;
  width: 22vw;
  overflow-y: scroll;
}
.calendar {
display: flex;
flex-direction: column;
align-self: flex-start;

}

#make-booking {
height: 1vw;
width: 2vw;
}

.dashboard {
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
height: 80vh;
width:  100vw;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  height: 80vh;
  width: 100vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-self: center;
}


.booking {
  background-color:black;
  font: white;
  align-self: flex-end;
  align-content: flex-end;
  justify-content: center;
  align-items: baseline;
  height: 5vh;
  width: 2vw;

}

.upcomingBooking {
  height: 5vh;
  width: 2vw;
  background-color: red;
}


.bookingPic {
  align-self: flex-start;
  height: 5vh;
  width: 10vw;
}
.bookingPic:hover {
  height: 20vh;
  width: 30vw;
  justify-self: flex-start;
}

.hidden {
  display: none;
}